<div>
  <link href="./church-card.css" rel="stylesheet" />
  <div class="church-card-container">
    <div class="church-card-container1">
      <img
        alt="image"
        src="public/playground_assets/cyp%20icon-300w.png"
        class="church-card-image"
      />
      <div class="church-card-container2">
        <div class="church-card-container3">
          <h1 class="church-card-text"><span>Heading</span></h1>
          <span class="church-card-text1"><span>Text</span></span>
          <span class="church-card-text2"><span>Text</span></span>
          <a
            href="https://example.com"
            target="_blank"
            rel="noreferrer noopener"
            class="church-card-link"
          >
            <span>Link</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
