<div>
  <link href="./goal-card.css" rel="stylesheet" />
  <div class="goal-card-container">
    <div class="goal-card-container1">
      <img
        alt="image"
        src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2016/09/02/11/mother-teresa-3.jpg?quality=75&width=982&height=726&auto=webp"
        class="goal-card-image"
      />
      <span class="goal-card-text"><span>Goal</span></span>
    </div>
    <div class="goal-card-container2">
      <span class="goal-card-text1">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </span>
      </span>
      <span class="goal-card-text2"><span>Verse</span></span>
    </div>
  </div>
</div>
