<div>
  <link href="./info-card.css" rel="stylesheet" />
  <div class="info-card-container">
    <div class="info-card-container1">
      <img
        alt="image"
        src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2016/09/02/11/mother-teresa-3.jpg?quality=75&width=982&height=726&auto=webp"
        class="info-card-image"
      />
    </div>
    <div class="info-card-container2">
      <span class="info-card-text"><span>Info</span></span>
      <span class="info-card-text1">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </span>
      </span>
      <div class="outline-button-container outline-button-root-class-name2">
        <button class="outline-button-button button">
          <span>Learn More</span>
        </button>
      </div>
    </div>
  </div>
</div>
